{% extends 'base.html.twig' %}

{% block title %}Dnd35Sorts{% endblock %}

{% block body %}
    <h1>{{ dnd35_sort.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Ecole</th>
                <td>{{ dnd35_sort.ecole }}</td>
            </tr>
            <tr>
                <th>Complement école</th>
                <td>{{ dnd35_sort.complementecole }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td><pre style="text-wrap:wrap">{{ dnd35_sort.description }}</pre></td>
            </tr>
            <tr>
                <th>Jet de sauvegarde</th>
                <td>{{ dnd35_sort.sauvegarde }}</td>
            </tr>
            <tr>
                <th>Composantes</th>
                <td>{{ dnd35_sort.composantes }}</td>
            </tr>
            <tr>
                <th>Temps d'incantation</th>
                <td>{{ dnd35_sort.tempsincantation }}</td>
            </tr>
            <tr>
                <th>Portée</th>
                <td>{{ dnd35_sort.portee }}</td>
            </tr>
            <tr>
                <th>Effet</th>
                <td>{{ dnd35_sort.effet }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ dnd35_sort.duree }}</td>
            </tr>
            <tr>
                <th>Resistancemagie</th>
                <td>{{ dnd35_sort.resistancemagie }}</td>
            </tr>
            <tr>
                <th>Cibles</th>
                <td>{{ dnd35_sort.cibles }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sorts_index') }}"><button>Retour à la liste</button></a>

    <a href="{{ path('app_sorts_edit', {'id': dnd35_sort.id}) }}"><button>Modifier</button></a>

{% endblock %}
