<nav>
    <a href="{{ path('app_home') }}">Accueil</a>
    <a href="{{ path('app_classes_index') }}">Classes</a>
    <a href="{{ path('app_races_index') }}">Races</a>
    <a href="{{ path('app_sorts_index') }}">Sorts</a>
     <a href="{{ path('app_dons_index') }}">Dons</a>
</nav>